.maincart {
  margin: 20px 40px;
  min-height: 400px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid rgba(0, 0, 0, 0.272); */
  border-radius: 20px;
  /* box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.231); */
}
.cartitem {
  font-family: lato, sans-serif;
  margin: 10px 5px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(56, 56, 56, 0);
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) -4px 9px 25px -6px;
  padding: 20px;
  min-width: 400px;
  transition: 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cartimg-2 {
  border-radius: 15px;
  overflow: hidden;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.cartinfo {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}
.carttitle {
  font-weight: bolder;
  text-transform: capitalize;
}
.cartdesc {
  font-size: smaller;
}
.quantity {
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.qntybtn button {
  margin: 0px 5px;
  border: 1px solid rgba(0, 0, 0, 0.201);
  border-radius: 2px;
  font-family: lato, sans-serif;
  cursor: pointer;
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0px 20px;
}
.pri{
  margin-right: 20px;
}

.pricebtn {
  border: 1px solid rgba(255, 71, 71, 0.719);
  border-radius: 20px;
  font-family: lato, sans-serif;
  cursor: pointer;
  padding: 14px 14px;
  background-color: rgb(253, 33, 33);
  color: white;
  transition: 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.pricebtn:hover {
  border-radius: 40px;
  /* transform: translateY(2px); */
}
.total {
  font-family: lato, sans-serif;
  font-size: large;
}
.cartbuy {
  border: 1px solid rgba(255, 71, 71, 0.719);
  border-radius: 20px;
  font-family: lato, sans-serif;
  cursor: pointer;
  padding: 10px 20px;
  font-size: large;
  transition: 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: rgb(255, 54, 54);
  color: white;
  margin-top: 10px;
  text-align: center;
}
.cartbuy:hover {
  border: 1px solid rgba(255, 71, 71, 0.1);
  box-shadow: 2px 3px 10px rgba(189, 69, 69, 0.63);
}
.noth {
  font-family: lato, sans-serif;
  font-size: 35px;
  text-transform: capitalize;
  /* text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288); */
  border: 1px dashed rgba(0, 0, 0, 0.244);
  border-radius: 40px;
  padding: 20px;
  transition: 500ms;
  overflow: hidden;
  background: linear-gradient(270deg, #f3f3f345, #ff4747, #ffffff4d);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s ease-in infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.103);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  50% {
    background-position: 500%;
  }
  100%{
    background-position: -500%;
  }
}

.addanim{
    position: absolute;
    top: 24%;
    color: rgb(245, 245, 245);
    background-color: rgba(255, 39, 39, 0.95);
    font-family: lato, sans-serif;
    font-weight: 700;
    font-size: medium;
    text-transform: capitalize;
    padding: 20px 40px;
    overflow: hidden;
    border-radius: 40px;
    transition: 400ms cubic-bezier(0.215, 0.610, 0.355, 1);
    /* transform: translateY(-500%); */
    animation-name: box;
    animation-duration: 1s;
    /* animation-delay: 2s; */
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-iteration-count: 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.flexqny{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}
@keyframes box {
    0%{
        transform: translateY(-500%);
        padding: 20px 20px;
    }
    100%{
        transform: translateY(0%);

        padding: 20px 40px ;
    }
    /* 100%{
        transform: translateY(-500%);
    } */
}

@media only screen and (max-width:650px) {
  .cartitem{
    font-size: 15px;
    flex-direction: column;
    min-width: 270px ;
  }
  .flexqny{
    flex-direction: row;
  }
  .cartinfo{
    max-width: 180px;
    /* width: auto; */
  }
  .addanim{
    top: 18%;
  }
}